#baseLayer {
  width: auto !important;
}

#baseLayer > div:first-child {
  padding-top: 0px !important;
}

#imgView {
  max-width: 100wh;
  max-height: 100vh;
  width: auto;
  margin: auto;
  display: block;
}

.image_mask {
  max-width: 100%;
  max-height: 100vh;
}

.black_mui14150 {
  position: absolute;
  top: 20px;
  background-color: #fff6;
  max-height: 20em;
  min-width: 10em;
  padding: 1em;
  transition: background-color 0.3s ease;
}

.black_mui14150:hover:not(:active),
.black_mui14150:hover:not(:active) * {
  background-color: transparent;
  color: transparent;
}
