#searchResult > table:nth-child(2) > tbody > tr > td:nth-child(1),
#searchResult > table:nth-child(12) > tbody > tr > td:nth-child(1) {
  display: none;
}

#searchResult > table:nth-child(2) > tbody > tr > td:nth-child(2) > table,
#searchResult > table:nth-child(12) > tbody > tr > td:nth-child(2) > table {
  margin: auto;
  transform: scale(1.5);
}

@media screen and (max-width: 1188px) {
  form#MyForm > table:nth-child(5) > tbody > tr > td > table {
    width: 100%;
  }
}

@media screen and (max-width: 1070px) {
  form#MyForm > table:nth-child(8) > tbody > tr > td:first-child,
  form#MyForm > table:nth-child(8) > tbody > tr > td:nth-child(2) {
    display: none;
  }

  form#MyForm > table:nth-child(8) > tbody > tr > td:nth-child(3) {
    max-width: 100vh;
  }
}
